.card {
  border: 0;
}

h2 {
  font-weight: normal;
  margin: 0 auto;
}

hr {
  border-top: 1px solid #f57d1b;
}

p {
  margin-top: 0;
  font-size: 18px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
