/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  background-color: #f57d1b;
  margin: 0;
}

//@media (min-width: 768px) {
//  body {
//    padding: 0;
//  }
//}

@media (min-width: 992px) {
  body {
    padding: 0 20%;
  }
}

